.container {
  width: 80%;
  margin: 0 auto;
  /*text-align: center;*/
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading {
  text-align: center;
}

.logo {
  padding-top: 45px;
  width: 50%;
}

.button {
  border: 1px solid #eee;
  border-radius: 4px;
  padding:15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444;
}

.button:hover {
  border: 1px solid white;
  background-color: #0564A4;
  color: #fff;
}

.heading .lead {
  width: 80%;
  margin: 25px auto 25px auto;
}

.title {
  margin-top: 45px;
}

.features div {
  margin-top: 25px;
  margin-bottom: 45px;
}
.features hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
  .logo {
    width: 100%
  }
  .heading .lead {
    width: 100%
  }
}
